[Desktop Entry]
Encoding=UTF-8
Name=Link to ConceptCloud Tool Demo - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=hLhW5nI_PSo
Icon=text-html
Name[en_US]=YoutubeDemo
